In [245]:
import pandas as pd
import numpy as np

In [484]:
def sigmoid(x):
    return np.log(1 + np.exp(x))

In [485]:
def sigmoid_derivative(x):
    return (np.exp(x) / (np.exp(x) + 1))

In [486]:
training_inputs = np.array([[0, 0, 1],
                           [1, 1, 1],
                           [1, 0, 1],
                           [0, 1, 1]])

training_outputs = np.array([[0, 1, 1, 0]]).T

In [487]:
np.random.seed(1)
weights = 2 * np.random.random((3, 1)) - 1

In [488]:
weights

array([[-0.16595599],
       [ 0.44064899],
       [-0.99977125]])

In [489]:
for iter in range(2):
    output = sigmoid(training_inputs.dot(weights))
    
    error_derivative = (-2) * (training_outputs - output)
#     print("Error:", sum((training_outputs - output)**2))
    
    adjustment = error_derivative * sigmoid_derivative(output)
    
    weights -= 0.1 * np.dot(training_inputs.T, adjustment)
    print("Weights:")
    display(pd.DataFrame(weights))

print("Output:")
display(pd.DataFrame(output))

Weights:

          0
0 -0.010961
1  0.457682
2 -0.936246

Weights:

          0
0  0.131623
1  0.462492
2 -0.891795

Output:

          0
0  0.330811
1  0.478045
2  0.327736
3  0.482224

In [490]:
np.random.seed(1)
weights = 2 * np.random.random((3, 1)) - 1

for iter in range(2):
    output = sigmoid(training_inputs.dot(weights))
    
    error_derivative = np.sum((-2) * (training_outputs - output))
#     print("Error:", sum((training_outputs - output)**2))
    
    adjustment = np.dot(error_derivative, sigmoid_derivative(output))
    
    weights -= 0.1 * np.dot(training_inputs.T, adjustment)
    print("Weights:")
    display(pd.DataFrame(weights))

print("Output:")
display(pd.DataFrame(output))

Weights:

          0
0 -0.033565
1  0.578011
2 -0.732266

Weights:

          0
0 -0.032832
1  0.578777
2 -0.730796

Output:

          0
0  0.392595
1  0.603640
2  0.381819
3  0.618991